{% extends 'base.html.twig' %}

{% block title %}Edit Cotisations{% endblock %}

{% block body %}
    <h1>Edit Cotisations</h1>

    {{ include('cotisations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cotisations_index') }}">back to list</a>

    {{ include('cotisations/_delete_form.html.twig') }}
{% endblock %}
